.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff13cf;
}
.buy-now{
    background-image: linear-gradient(to bottom,#ff5895 0%,#ff5689 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 20px;
    cursor: pointer;

}
.cat1{
    background-color: orange;
    border-radius: 12px;
    padding: 10px 30px;
}
.cat2{
    background-color: #ff13cf;
    border-radius: 12px;
    padding: 10px 30px;

}
.cat3{
    background-color:blueviolet;
    border-radius: 12px;
    padding: 10px 30px;

}
.categories h1{
    color: azure;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color:white;
    border-radius: 10px;
    border-top: none;
}
#contact{
    height: 300px;
}
#contact h6{
    color: gray;
}
footer{
    text-align: center;
}